@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 720px;
  color: #fcfcfc;
  min-height: 100%;
  font-family: 'Inconsolata', monospace;
  background-color: #0e0e11;
  background-image: url('warshield-white.png');
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 15px;
  padding-bottom: 50px;
  font-size: 1em;
}

h1 {
  font-size: 1.5em;
}

a {
  color: #80ff70;
}

.code {
  padding: 10px;
  color: #e0e0e0;
  background: #3c3c3c;
  border-radius: 4px;
  font-size: 0.85em;
  display: inline-block;
}

.code-inline {
  padding: 1px;
  color: #e0e0e0;
  background: #3c3c3c;
  border-radius: 4px;
  font-size: 0.85em;
  display: inline-block;
}

.code ul {
  list-style: none;
  margin: 0;
}

.asciinema-theme-asciinema .asciinema-terminal {
  background-color: #3c3c3c;
}

.asciinema-player {
  border-radius: 4px;
}

.asciinema-terminal {
  border-width: 0;
  padding: 0.5em;
}

.asciinema-player .control-bar {
  background-color: rgba(0, 0, 0, 0.8);
}