@font-face {
  font-family: "Terminus";
  src: url('/terminus.ttf');
 }

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 720px;
  color: #fcfcfc;
  min-height: 100%;
  font-family: 'Terminus', sans-serif;
  background-color: #0e0e11;
  background-image: url('warshield-white.png');
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 15px;
  font-size: 1em;
}

h1 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #e9e9e9;
}

a:hover {
  color: #c2c2c2;
}

.code {
  padding: 10px;
  color: #e0e0e0;
  background: #2e2e2e;
  border-radius: 4px;
  font-size: 0.85em;
  display: inline-block;
}

.code-inline {
  padding: 1px;
  color: #e0e0e0;
  background: #2e2e2e;
  border-radius: 4px;
  font-size: 0.85em;
  display: inline-block;
}

.code ul {
  list-style: none;
  margin: 0;
}